@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        color-scheme: dark;
    }

    input,
    textarea,
    select,
    button {
        font: inherit;
    }

    input,
    textarea,
    select {
        @apply appearance-none;
        background-clip: padding-box;
    }
}

body {
    @apply bg-void-green text-parchment font-urbanist;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-fraunces;
}
